
html {
	font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
	margin:0px
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box; /* Firefox, other Gecko */ 
          box-sizing: border-box; /* Opera/IE 8+ */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.logo-container img#logo {
	height: 85px;
}

ul.navbar-nav {
	list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0;
}

ul.navbar-nav li.link {
    display: inline-block;
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    transform: skewX(-10deg);
    margin: 0 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul.navbar-nav li.link a {
    padding: 10px 20px;
    color: #fff;
    background-color: #188ae2;
    text-decoration: none;
    display: block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul.navbar-nav li.link a:active, ul.navbar-nav li.link a:hover {
	color: #fff;
    background-color: #113650;
}

ul.navbar-nav li.link a span {
	display: block;
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -o-transform: skewX(10deg);
    transform: skewX(10deg);
}


#bookNow {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 58px;
    box-shadow: 0px 0px 4px -1px #000;
}
#bookNow .center.quickBook a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    height: 100%;
    width: 150px;
    padding: 17.4px 0;
    margin-left: 67px;
    z-index: 100;
    bottom: 0;
    left: 0;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#bookNow .center.quickBook a span {
	display: block;
	-webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

#bookNow a:active, #bookNow a:hover {
    box-shadow: inset 0px 0px 10px -2px #000;
    text-shadow: 1px 1px 7px #000;
}

#bookNow .left.quickBook {
    display: block;
    position: absolute;
    width: 50%;
    background: #005cf1;
    height: 100%;
    z-index: -10;
}
#bookNow .center.quickBook {
    display: inline-block;
    width: 800px;
    background: #fff url(/images/quickbook-fade.png);
    background-repeat: no-repeat;
    height: 100%;
    margin: auto;
}
#bookNow .right.quickBook {
	display: inline-block;
    position: absolute;
    width: 50%;
    background: #ffffff;
    height: 100%;
    z-index: -10;
}

#navbar-container {
    margin: auto 0 auto auto;
}

#header-container {
	display: flex;
    width: 800px;
    margin: auto;
}

#content {
    background: #326186;
    box-shadow: inset 0px 0px 4px -1px #000;
    padding: 10px;
}
#gridOfEquals {
    width: 1000px;
    margin: auto;
    display: block;
}

#gridOfEquals .film {
    display: flex;
    padding: 5px 9px;
    margin: 10px;
    color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.11);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.10) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(255, 255, 255, 0.10) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(255, 255, 255, 0.10) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

#gridOfEquals .film .title {
    font-size: 30px;
    line-height: 36px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 6px;
}

#gridOfEquals .film .genres {

}

#gridOfEquals .film .genres .genre {
	font-family: monospace;
    font-size: 11px;
    background: #188ae2;
    border: 1px solid rgba(0, 0, 0, 0.31);
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
}

#gridOfEquals .film .film-poster {
    display: inherit;
    padding: 10px 0;
}

#gridOfEquals .film .film-poster img {
    width: 184px;
    height: 273px;
}

#gridOfEquals .film .film-info {
    width: 100%;
    margin: 10px 10px 10px 20px;
}

#gridOfEquals .film .film-info .description {
    margin: 20px 3px;
}


#gridOfEquals .film-description {
    text-align: justify;
    display: block;
    width: 594px;
    height: 273px;
    padding: 10px;
    margin: auto;
    overflow-y: scroll;
}

#gridOfEquals .film-description::-webkit-scrollbar {
    width: 1em;
}
 
#gridOfEquals .film-description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#gridOfEquals .film-description::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 1px solid slategrey;
}
