
html {
	font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
	margin:0px
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box; /* Firefox, other Gecko */
          box-sizing: border-box; /* Opera/IE 8+ */
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#navbar-container {
	position: relative;
}

.logo-container img#logo {
	height: 85px;
}

ul.navbar-nav{
	list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0;
}

.footer {
	list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0;
    max-width: 60%;
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.footer li.link{
    display: inline-block;

    margin: 0px 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s ease-in-out;
}


ul.navbar-nav li.link{
    display: inline-block;
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    transform: skewX(-10deg);
    margin: 0px 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s ease-in-out;
}

.dropDown{
	position: absolute;
	display: block;
	list-style: none;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: opacity 0.3s ease-in-out;

}

.dropLink{
	margin: 10px 5px 5px;
}


ul.navbar-nav li.link a{
    padding: 10px 20px;
    color: #fff;
    background-color: #188ae2;
    text-decoration: none;
    display: block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

ul.navbar-nav li.link a:active, ul.navbar-nav li.link a:hover{
	color: #fff;
    background-color: #113650;
}


ul.navbar-nav li.link a span{
	display: block;
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -o-transform: skewX(10deg);
    transform: skewX(10deg);
}

#bookNow {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 58px;
    box-shadow: 0px 0px 4px -1px #000;
}
#bookNow .center.quickBook a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    height: 100%;
    width: 150px;
    padding: 17.4px 0;
    margin-left: 67px;
    z-index: 100;
    bottom: 0;
    left: 0;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#bookNow .center.quickBook a span {
	display: block;
	-webkit-transform: skewX(20deg);
    -moz-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

#bookNow a:active, #bookNow a:hover {
    box-shadow: inset 0px 0px 10px -2px #000;
    text-shadow: 1px 1px 7px #000;
}

#bookNow .left.quickBook {
    display: block;
    position: absolute;
    width: 50%;
    background: #005cf1;
    height: 100%;
    z-index: -10;
}
#bookNow .center.quickBook {
    display: inline-block;
    width: 800px;
    background: #fff url(/images/quickbook-fade.png);
    background-repeat: no-repeat;
    height: 100%;
    margin: auto;
}
#bookNow .right.quickBook {
	display: inline-block;
    position: absolute;
    width: 50%;
    background: #ffffff;
    height: 100%;
    z-index: -10;
}

#navbar-container {
    margin: auto 0 auto auto;
	display: inherit;
}

#header-container {
	position: relative;
	z-index: 2;
	display: flex;
    width: 800px;
    margin: auto;
}

#content {
    position: relative;
	z-index: 1;
	background: #326186;
    box-shadow: inset 0px 0px 4px -1px #000;
    padding: 10px;
}

#carousel {

	max-width: 1100px;
	max-height: 450px;
	margin: auto;

}

#carousel .carouselPoster img {

	width: 100%;
	height: auto;
	margin: auto;

}

.contactFormTable {
	margin: auto;
	color: white;
	font-size: large;

}

.contactFormTable #message {
	width: 200px;
	height: 50px;

}

.rowElement {
	padding: 8px;

}

.Btn {
	display: block;
	margin: auto;
	margin-top: 10px;
	font-size: larger;
	padding: 3px;
}

#comments {
	padding: 10px;
	color: white;
	border: ;
}

.inputElement {
	width: 200px;
	height: 22px;
}

#gridOfEquals {
    width: 1000px;
    margin: auto;
    display: block;
}

#gridOfEquals .film {
    display: flex;
    padding: 5px 9px;
    margin: 10px;
    color: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.11);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.10) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(255, 255, 255, 0.10) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(255, 255, 255, 0.10) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

#gridOfEquals .film .title {
    font-size: 30px;
    line-height: 36px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 6px;
}

#gridOfEquals .film .title img {
	width: 35px;
	height:auto;
	float: right;
}

.location-tool  {
	font-size: 20px;
    line-height: 36px;
    margin-bottom: 6px;
	color: #fff;

}

.selection,
.current {
	font-style: italic;
 }

#gridOfEquals .film .genres {

}

#gridOfEquals .film .genres .genre {
	font-family: monospace;
    font-size: 11px;
    background: #188ae2;
    border: 1px solid rgba(0, 0, 0, 0.31);
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
}

#gridOfEquals .film .film-poster {
    display: inherit;
    padding: 10px 0;
}

#gridOfEquals .film .film-poster img {
    width: 184px;
    height: 273px;
}

.location-image img {
    height: 268px;
    position: relative;
    top: 15px;
}

#gridOfEquals .film .film-info {
    width: 100%;
    margin: 10px 10px 10px 20px;
}

#gridOfEquals .film .film-info .description {
    margin: 12px 3px;
	display: flex;
}

#gridOfEquals .film .film-info .release,
#gridOfEquals .film .film-info .director,
#gridOfEquals .film .film-info .actors {
    margin: 3px 3px;
    font-size: 14px;
}

#gridOfEquals .film .film-info .info-title {
    font-weight: 600;
}

#gridOfEquals .film .film-info  .info-text {
    color: #dedede;
}

#gridOfEquals .film-description {
    text-align: justify;
    display: block;
    width: 594px;
    height: 273px;
    padding: 10px;
    margin: auto;
    overflow-y: scroll;
}

#gridOfEquals .film-description::-webkit-scrollbar {
    width: 1em;
}

#gridOfEquals .film-description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#gridOfEquals .film-description::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 1px solid slategrey;
}

#location-container {
	margin-left : 30px;
}

#account-container {
	margin : 0 5px;
}

.function-pin {
	height : 35px;
	cursor : pointer;
}

#loading-icon {
	width: 200px;
    margin: 100px auto;
}

#loading-icon img {
    background: #fff;
}


.ToolTip #aa {
	position: absolute;
	padding: 5px;
	background: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
	border-radius: 3px;
	transition: all 0.3s ease-in-out, visibility 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
	z-index: 50;
	margin: 10px -61px 0;
	font-size: 20px;
    line-height: 36px;
    margin-bottom: 6px;
	color: #000;
}

#location-container:active .ToolTip #aa, #location-container:hover .ToolTip #aa, #location-container:focus .ToolTip #aa {
    opacity: 1;
    visibility: visible;
}

.ToolTip #bb {
	position: absolute;
	content: '';
	transition: all 0.3s ease-in-out;
	z-index: 60;
	left: 50%;
	margin-left: -10px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	top: -10px;
	border-bottom: 10px solid rgb(255, 255, 255);
}

.ToolTip #cc {
	position: absolute;
	content: '';
	transition: all 0.3s ease-in-out;
	z-index: 55;
	left: 50%;
	margin-left: -11px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	top: -11px;
	border-bottom: 11px solid rgba(0, 0, 0, 0.4);
}

.film-info .showtime {
    display: inline-block;
}

.film-info .showtime .showtimeBlock {
    display: inline-block;
    text-align: -webkit-center;
    text-align: center;
    border: 1px solid rgba(195, 195, 195, 0.5);
    background: #3c3c3c;
    width: 100px;
    height: 50px;
    margin: 10px 3px;
    padding: 3px;
		color: white;
}

.openingTimes-container{
	margin: 0px 15px;
}

.openingTimeBlock{
	display: inline-block;
    text-align: -webkit-center;
    text-align: center;
    border: 1px solid rgba(195, 195, 195, 0.5);
    background: #3c3c3c;
    width: 250px;
    height: 160px;
    margin: 10px 3px;
    padding: 3px;
}

.openingTimeBlock .openingTime-time{
	float: right;
    font-weight: 400;
    font-size: 19px;
	color: white;
}

.openingTime-day{
	float: left;
    font-weight: 400;
    font-size: 19px;
	color: white;
}

.OpeningTimesDiv{
	border-left: 2px solid rgba(255, 255, 255, 0.50);
	margin: 0px 0px 0px 5px;
}

.film-info .showtime .showtimeBlock #showtime-time {
    float: left;
    font-weight: 600;
    font-size: 19px;
}

.film-info .showtime .showtimeBlock #showtime-s-type {
    float: right;
    font-size: 14px;
}

.film-info .showtime .showtimeBlock #showtime-screen {
    display: inline-block;
    float: right;
    font-style: italic;
    font-size: 14px;
    margin: 3px;
}

.location-label {
	position: absolute;
    top: -20px;
    right: 0px;
}

#conf{
	    text-align: center;
}

.message{
	padding: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.overlay {
	box-shadow: 0px 0px 1px 5000px rgba(0,0,0,0.7);
}

.trailer {
	position: absolute;
	z-index: 1;
	margin: auto;
	padding-top: 2px;

}

.watchTrailer {
	display: block;
	width: 95px;
	margin: auto;
	padding: 5px;
	font-weight: bolder;
	font-family: monospace;
  font-size: 18px;
  background: #188ae2;
  border: 2px groove black;
  border-radius: 3px;
	color: white;
}

.watchTrailer:hover{
	border:	2px groove silver;
}
.bookingfilter:hover{
	color: #fff;
    background-color: #188ae2;
}
.bookingfilter{
	background-color: #fff;
    color: #188ae2;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: xx-large;
	margin: 10px;
}

.booking_confirmation{
	background-color: #fff;
	padding: 10px;
	height: fit-content;
	border: #188ae2 solid;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	font-family: sans-serif;
	overflow: auto;
	height:350px;
	
}
.booking_confirmation:before,
.booking_confirmation:after {
  content: " ";
  display: table;
}

.booking_confirmation:after { clear: both; }
.booking_poster{
	float :left;
}
.booking_info{
	text-align:right;
	float:right;
}
.showing_title{
	border-bottom: #188ae2 solid 5px;
	margin : 5px ;
	font-size: large;
	
}